<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    
    <style type="text/css">
    .inline-block-center{
        text-align: center;
    }
    </style>
    
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        
    <!--<script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" src="/js/jquery-1.12.4.js" ></script>-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<script th:inline="javascript">
    var websocket = null;
    var fromId=[[${session.fromId}]];
    var toId=[[${session.toId}]];
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        //2,123 2登录用户标识,123会话id
        //[[${session.usr}]]获取session的用户标识
        var url = "ws://" + window.location.host +"/webSocketOneToOne/"+fromId+",123"
        websocket = new WebSocket(url);
    } else {
        alert('当前浏览器 Not support websocket')
    }
    //连接发生错误的回调方法
    websocket.onerror = function() {
        setMessageInnerHTML("WebSocket连接发生错误");
    };
    //连接成功建立的回调方法
    websocket.onopen = function() {
        setMessageInnerHTML("WebSocket连接成功");
    }
    //接收到消息的回调方法
    websocket.onmessage = function(event) {
        console.log("回调信息",event.data)
        setMessageInnerHTML(event.data);
    }
    //连接关闭的回调方法
    websocket.onclose = function() {
        setMessageInnerHTML("WebSocket连接关闭");
    }
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function() {
        closeWebSocket();
    }
    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += '</br>'+innerHTML + '<br/>';
    }
    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
        var url = "http://localhost:8080/indexs";
        window.location.href = url;
    }
    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        //message作为发送的信息，role作为发送的对象标识，socketId是此次会话的标识
        websocket.send(JSON.stringify({'message':message,'role':toId,'socketId':"123"}));
    }
 
</script>
<body>
<main class="inline-block-center">
    <h2 class="form-signin-heading">用户：<span id="usr" th:text="${session.fromId}"></span></h2>
    <!--<br/>发送给:<input id="toname" type="text" />-->
    <h2 class="form-signin-heading">发送给：<span id="to" th:text="${session.toId}"></span></h2>
    <!--<br/>发送：<input id="text" type="text" />-->
    <br/>
    
    <input id="text" type="text" autocomplete="off" placeholder="在此输入文字信息..."/></br>
    </br>
    <button class="btn btn-primary" onclick="send()">发送消息</button>
    
    <button class="btn btn-primary"onclick="closeWebSocket()">返回</button>
    <div id="message"></div>
</main>

</body>

</html>


