
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        
    <title>SQL控制台</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<body onload="load();">
<script>
    function load() {
        var state = [[${state}]]
        if(state ==-1)alert("错误");
        else if(state == 1)alert("成功");
    }
</script>
</body>-->
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">请修改信息并提交</h2>
        <h2 class="form-signin-user" th:text="学号为+${id}"></h2>
        <label for="" class="sr-only">SQL语句</label>
        <input type="" id="inputname" class="form-control" th:placeholder="${name}" >
        <input type="" id="inputphone" class="form-control" th:placeholder="${phone}" >
        <input type="" id="inputqq" class="form-control" th:placeholder="${qq}" >
        <input type="" id="inputemail" class="form-control" th:placeholder="${email}" >
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="submitChanges();return false;">提交</button>
        <button class="btn btn-lg btn-primary btn-block" type="back" onclick="backToIndexs();return false;">返回</button>
    </form>
<script>
    var id=[[${id}]]
    var name=[[${name}]]
    var phone=[[${phone}]]
    var qq=[[${qq}]]
    var email="[[${email}]]"
    
    function submitChanges() {
        var newname=document.getElementById('inputname').value;
        var newphone=document.getElementById('inputphone').value;
        var newqq=document.getElementById('inputqq').value;
        var newemail=document.getElementById('inputemail').value;
        
        if(newname==""||newname==null)
            newname=document.getElementById("inputname").getAttribute("placeholder");
        if(newphone==""||newphone==null)
            newphone=document.getElementById("inputphone").getAttribute("placeholder");
        if(newqq==""||newqq==null)
            newqq=document.getElementById("inputqq").getAttribute("placeholder");
        if(newemail==""||newemail==null)
            newemail=document.getElementById("inputemail").getAttribute("placeholder");
           
        /*newname=+"\""+newname+"\"";
        newphone=+"\""+newphone+"\"";
        newqq=+"\""+newqq+"\"";
        newemail=+"\""+newemail+"\"";*/
        
        jQuery.post("Sql_change",{id:id,newname:newname,newphone:newphone,newqq:newqq,newemail:newemail},function (p) {
            if(p===1){
                alert("修改成功");
                window.location.href = "http://localhost:8080/indexs";
            }else{
                alert("修改失败");
                var url = "http://localhost:8080/SQL"+"?id="+id+"&name="+name+"&phone="+phone+"&qq="+qq+"&email="+email;
                window.location.href = url;
            }
        });

    }
    
    function backToIndexs(){
        var url = "http://localhost:8080/indexs";
        window.location.href = url;
    }



</script>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
